<div>
    <p>1. Primer Animacion</p>
    <!-- <div class="motion-preset-pulse-md">
        <p>Pulse</p>
    </div> -->
    <br><br>
    <p>2. Segundo Animacion</p>
    <div class="motion-opacity-in-0 motion-translate-y-in-100 motion-blur-in-md">
        <p>Fade In</p>
    </div>
    <br><br>
    <p>3. Terce Animacion</p>
    <div class="motion-translate-y-in-100">
        <p>Slide up on enter</p>
    </div>
    <br><br>
    <p>4. Cuarto Animacione</p>
    <div class="motion-translate-y-in-100 motion-duration-2000 motion-ease-spring-smooth">
        <p>Slow, smooth entrance</p>
    </div>
    <br><br>

    <p>5. Quinto Animacion -- (scroll)</p>
    <div class="motion-translate-y-in-100 motion-rotate-in-45 motion-blur-in-sm">
        <p>Complex entrance animation</p>
    </div>

    <br><br>
    <p>6. Sexto Animacion Loop</p>
    <div class="-motion-translate-y-loop-50 motion-duration-2000 motion-ease-spring-smooth">
        <p>Slow, smoth floating</p>
    </div>

    <br><br>
    <p>7. Hover Animation</p>
    <div class="motion-preset-oscillate-lg motion-paused hover:motion-running">
        <p>Hover to play</p>
    </div>

</div>