<div>
  <p>1. Primer Animacion</p>
  <button class="animate-wiggle">Hi, look at me</button>

  <br><br>

  <p>2. Segundo Animacion</p>
  <button class="animate-jump-in animate-delay-300 animate-once">
    Wait a bit, then jump right in
  </button>


  <br /><br /> <br>
  <p>Segundo Animacion</p>
  <div class="animate-jump-in animate-once animate-duration-[2000ms]">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita,
      tempora officia! Autem iusto dolores quam, eos quasi recusandae aut hic
      aperiam quas ipsum obcaecati repudiandae consequatur iure vero deleniti
      distinctio.
    </p>
  </div>
</div>
