<div class="max-w-5xl mx-auto flex flex-col gap-10">
  <article>
    <h2>Animaciones con Tailwind Animated</h2>
    <div>
      <app-tailwind-animated />
    </div>
  </article>
  <hr>
  <article>
    <h2>Animaciones con Rombo</h2>
    <div>
      <app-animated-rombo />
    </div>
  </article>

</div>


<!-- <pre class="mt-10">
    {{
         products$ | async | json
    }}
</pre>  -->

<!-- <aside class="w-64 min-h-screen bg-orange-500 text-white flex flex-col py-4">
  <ng-container *ngFor="let item of menuItems">
    <div
      (click)="setActive(item.id)"
      class="flex items-center gap-3 cursor-pointer mx-2 my-1 px-4 py-2 transition-all duration-300"
      [ngClass]="{
        'bg-white text-orange-600 shadow-md rounded-l-full rounded-t-full rounded-b-full': activeMenu === item.id,
        'hover:bg-orange-600 rounded-l-full': activeMenu !== item.id
      }"
    >
      <span class="text-xl">{{ item.icon }}</span>
      <span class="text-base">{{ item.label }}</span>
    </div>
  </ng-container>
</aside> -->

<router-outlet />
